{# Two levels only. These reference pages have h4s under nearly every h3, and rendering
   all of them produces a rail longer than the article it indexes. #}
<ul class="toc">
  {% for h1 in page.toc %}
    <li>
      <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
            <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
